

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [6]:
C = []
print(C)

[]

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [32]:
A = [2,3,5,6,8]
print(A)

[2, 3, 5, 6, 8]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [33]:
len(A)

5

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [34]:
print('le premier element est:',A[0])
b = len(A)//2
print("l'element central est:",A[b])
print('le dernier element est:',A[-1])

le premier element est: 2
l'element central est: 5
le dernier element est: 8

#### **Exercice 04:** 
>**Déclarez une liste appelée mixed_data_types, mettez votre (nom, âge, taille, état civil, adresse).**

In [35]:
mixed_data_types = ['Birama Sarr','27','1.86','Celibataire','Mbour']
print(mixed_data_types)

['Birama Sarr', '27', '1.86', 'Celibataire', 'Mbour']

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

In [122]:
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']

2. Imprimez la liste à l'aide de print()

In [123]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

3. Imprimez le nombre d'entreprises dans la liste

In [124]:
print("le nombre d'elements dans la liste est:",len(it_companies))

le nombre d'elements dans la liste est: 7

4. Imprimez la première, la moyenne et la dernière entreprise

In [125]:
print('le premier element est:',it_companies[0])
b = len(it_companies)//2
print("l'element central est:",it_companies[b])
print('le dernier element est:',it_companies[-1])

le premier element est: Facebook
l'element central est: Apple
le dernier element est: Amazon

5. Imprimez la liste après avoir modifié l'une des entreprises.

In [126]:
it_companies[4] = 'IBM_IBM' 
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM_IBM', 'Oracle', 'Amazon']

In [127]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM_IBM', 'Oracle', 'Amazon']

6. Ajout d'une entreprise informatique à it_companies

In [128]:
it_companies.append('Twittew')

In [129]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM_IBM', 'Oracle', 'Amazon', 'Twittew']

7. Insérer une entreprise informatique au milieu de la liste des entreprises

In [130]:
it_companies.insert((len(it_companies))//2,'Firfix')

In [131]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'Firfix', 'IBM_IBM', 'Oracle', 'Amazon', 'Twittew']

8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

In [132]:
it_companies[1]=it_companies[1].upper()
print(it_companies)

['Facebook', 'GOOGLE', 'Microsoft', 'Apple', 'Firfix', 'IBM_IBM', 'Oracle', 'Amazon', 'Twittew']


9. Joignez les it_companies avec une chaîne '# ; '.

In [133]:
'# ; '.join(it_companies)

'Facebook# ; GOOGLE# ; Microsoft# ; Apple# ; Firfix# ; IBM_IBM# ; Oracle# ; Amazon# ; Twittew'

10. Vérifier si une certaine entreprise existe dans la liste it_companies.

In [134]:
if 'Apple' in it_companies:
    print('true')

true


11. Trier la liste en utilisant la méthode sort()

In [135]:
it_companies.sort()

In [136]:
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Firfix', 'GOOGLE', 'IBM_IBM', 'Microsoft', 'Oracle', 'Twittew']

12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

In [137]:
it_companies.reverse()
print(it_companies)

['Twittew', 'Oracle', 'Microsoft', 'IBM_IBM', 'GOOGLE', 'Firfix', 'Facebook', 'Apple', 'Amazon']

13. Supprimez les 3 premières entreprises de la liste.

In [138]:
del it_companies[3:0]
print(it_companies)

['Twittew', 'Oracle', 'Microsoft', 'IBM_IBM', 'GOOGLE', 'Firfix', 'Facebook', 'Apple', 'Amazon']

14. Supprimez les 3 dernières entreprises de la liste.

In [139]:
del it_companies[len(it_companies)-3:len(it_companies)]
print(it_companies)

['Twittew', 'Oracle', 'Microsoft', 'IBM_IBM', 'GOOGLE', 'Firfix']

15. Supprimez la ou les entreprises informatiques du milieu de la liste.

In [140]:
del it_companies[len(it_companies)//2-1]
print(it_companies)

['Twittew', 'Oracle', 'IBM_IBM', 'GOOGLE', 'Firfix']

16. Supprimez la première entreprise informatique de la liste

In [141]:
del it_companies[0]
print(it_companies)

['Oracle', 'IBM_IBM', 'GOOGLE', 'Firfix']

17. Supprimez la ou les entreprises informatiques du milieu de la liste.

In [144]:
del it_companies[len(it_companies)//2]
print(it_companies)

['Oracle']

18. Retirer la dernière entreprise informatique de la liste

In [145]:
del it_companies[-1]
print(it_companies)

[]

19. Supprimez toutes les entreprises informatiques de la liste

In [146]:
for i in range(len(it_companies)):
    del it_companies[i]
    i+=1
print(it_companies)

[]

20. Détruire la liste des entreprises informatiques

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [2]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
front_end + back_end

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [2]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

1. Trier la liste et trouver l'âge minimum et maximum.

In [3]:
ages.sort()
print(ages)
print('le minimum est :',min(ages))
print('le maximum est :',max(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
le minimum est : 19
le maximum est : 26

3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).

In [4]:
if len(ages)//2 ==1:
    print("l'élément du milieux est :",ages[len(ages)//2])
else:
    print('les deux élément du milieux sont:',ages[len(ages)//2-1],'et',ages[len(ages)//2])

les deux élément du milieux sont: 24 et 24

4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).

In [5]:
print("l'age moyen est:",sum(ages)//10)

l'age moyen est: 22

4. Trouver l'intervalle des âges (max moins min)

In [6]:
print("l'intervalle des ages est:",max(ages)-min(ages))

l'intervalle des ages est: 7

5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [11]:
A = max(ages)
B = min(ages)
C = sum(ages)//10
D = B-C
F = A-C
print("la valeur de min - moyenne est:", abs(D))
print("la valeur de max - moyenne est:",abs(F))

la valeur de min - moyenne est: 3
la valeur de max - moyenne est: 4

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

1. Créer un dictionnaire vide appelé dog

In [74]:
dog = {}

2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog

In [75]:
dog['nom']= 'Mom dictionnaire'
dog['couleur'] = 'Jaune'
dog['race'] = 'Personnelle' 
dog['pattes'] = 4
dog['age'] = 30

In [76]:
dog

{'nom': 'Mom dictionnaire',
 'couleur': 'Jaune',
 'race': 'Personnelle',
 'pattes': 4,
 'age': 30}

3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.

In [77]:
student = {'prénom :':'Birama','nom :': 'Sarr','sexe :':'Homme','âge :':'30','état civil :':'Celibataire','compétences:':'mathematicien','pays :':'Senegal','ville :':'Dakar','Adresse :':'Diofior'}

In [78]:
student

{'prénom :': 'Birama',
 'nom :': 'Sarr',
 'sexe :': 'Homme',
 'âge :': '30',
 'état civil :': 'Celibataire',
 'compétences:': 'mathematicien',
 'pays :': 'Senegal',
 'ville :': 'Dakar',
 'Adresse :': 'Diofior'}

4. Obtenez la longueur du dictionnaire student

In [79]:
len(student)

9

5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.

In [80]:
print(student['compétences:'])
type(student['compétences:'])

mathematicien

str

6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences

In [81]:
student.update({'compétences:':'Mathematicien et informaticien'})

In [82]:
for i in student:
     print(i, student[i])

prénom : Birama
nom : Sarr
sexe : Homme
âge : 30
état civil : Celibataire
compétences: Mathematicien et informaticien
pays : Senegal
ville : Dakar
Adresse : Diofior

In [83]:
print(student['compétences:'])

Mathematicien et informaticien

7. Obtenez les clés du dictionnaire sous forme de liste

In [84]:
student.keys()

dict_keys(['prénom :', 'nom :', 'sexe :', 'âge :', 'état civil :', 'compétences:', 'pays :', 'ville :', 'Adresse :'])

8. Obtenir les valeurs du dictionnaire sous forme de liste

In [85]:
student.values()

dict_values(['Birama', 'Sarr', 'Homme', '30', 'Celibataire', 'Mathematicien et informaticien', 'Senegal', 'Dakar', 'Diofior'])

9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()

In [86]:
student.items()

dict_items([('prénom :', 'Birama'), ('nom :', 'Sarr'), ('sexe :', 'Homme'), ('âge :', '30'), ('état civil :', 'Celibataire'), ('compétences:', 'Mathematicien et informaticien'), ('pays :', 'Senegal'), ('ville :', 'Dakar'), ('Adresse :', 'Diofior')])

10. Supprimer un des éléments du dictionnaire

In [87]:
del student['Adresse :']

In [88]:
student

{'prénom :': 'Birama',
 'nom :': 'Sarr',
 'sexe :': 'Homme',
 'âge :': '30',
 'état civil :': 'Celibataire',
 'compétences:': 'Mathematicien et informaticien',
 'pays :': 'Senegal',
 'ville :': 'Dakar'}

11. Supprimer un des dictionnaires

In [89]:
dog

{'nom': 'Mom dictionnaire',
 'couleur': 'Jaune',
 'race': 'Personnelle',
 'pattes': 4,
 'age': 30}

 Supprimons le dictionnsire 'dog'

In [90]:
dog.clear()

In [91]:
dog

{}

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS !🎉 </span> </b></center>